# gcloudignore
# Explicitly ALLOW index.html and src
!index.html
!src/
!components/
!server/
!services/

# Ignore big stuff
node_modules/
dist/
dist-ssr/
.git/
.DS_Store

# Ignore database
data/*.sqlite

# Logs
logs/
*.log

